@model Mvc_Aula18_Atividades.Models.Produto
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <h2>Cadastro de Produto</h2>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(false)
        <fieldset>
            <legend>Cadasto de Produto</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.Nome)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Nome)
                @Html.ValidationMessageFor(model => model.Nome)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Descricao)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Descricao)
                @Html.ValidationMessageFor(model => model.Descricao)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Estoque)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Estoque)
                @Html.ValidationMessageFor(model => model.Estoque)
            </div>

            <p>
                <input type="submit" value="Enviar Dados" />
            </p>
        </fieldset>
    }
</body>
</html>
