<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_MenuAdmin</title>
</head>
<body>
    <h2>Menu Admin</h2>
    <div id="menu">
        <ul id="itens">
            <li>@Html.ActionLink("Home", "Index", "Admin")</li>
            <li>@Html.ActionLink("Incluir", "Incluir", "Admin")</li>
            <li>@Html.ActionLink("Alterar", "Alterar", "Admin")</li>
            <li>@Html.ActionLink("Excluir", "Excluir", "Admin")</li>
            <li>@Html.ActionLink("Retornar (Site)", "Index", "Home")</li>
        </ul>
    </div>
    <div id="linhamenu">
        <hr />
    </div>
</body>
</html>
